p {
    text-indent: 20px;
    font-size: 20px;
    font-weight: bold;

}

blockquote {
    font-size: 20px;
}

.Title {
    font-size: 70px;
    color: red;
    text-align-last: center;
    text-transform: uppercase;
    font-weight: bold;

}

.lineheight {
    line-height: 40px;
}

.quotes1 {
    color: royalblue;

}

.quotes2 {
    color: springgreen;

}

.quotes3 {
    color: purple;

}

.italics {
    font-weight: lighter;
}