body {
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    margin: 0;
    text-align: center;

}

.content{
    width: 960px;
    margin: auto;

}

header {
    text-align: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Tsunami_by_hokusai_19th_century.jpg);
    background-size: cover;
    background-position: center;
}

header .content {
    padding: 152px 0 148px 0;
}

header h1 {
    font-size: 80px;
}

header h2 {
    margin-top: -3px;
    font-size: 30px;

}

section .content {
    padding: 50px 0 27px 0;
}

.sectionh1 {
    font-size: 40px;
    padding-bottom: 16px;
}

.coral {
    display: block;
    float: right;
    padding: 19px 0 36px 39px;
}
p {
    font-size: 18px;
    line-height: 25px;
}

.grid {
    padding: 0;
}
.grid li {
    display: block;
    
}

.using-flex {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

li {
    display: block;
    margin-bottom: 16px;
    margin-top: 0px;
}

.gridtext {
    font-size: 18px;
    margin-left: -27px;
    margin-right: 25px;
    margin-top: 13px;
}

h3 {
    font-size: 20px;
    margin: 0;
    line-height: 1px;
}

.blue {
    background-color: rgb(83, 145, 145);
}

.last {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    padding: 0 240px 95px 240px;
    
}

.lastsection {
    padding: 38px 0 20px 0;

}

.lastsection h1 {
    padding-bottom: 8px;
}

.headerbg {
    background-color: rgba(255, 0, 0, 0.3);
}

.gridtext div {
    margin-top: 22px;
}

.footer {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#bg1 {
    background-color: cadetblue;
}

#gridbg {
    background-color: cornflowerblue;
}

.lastbg {
    background-color: rgb(140, 203, 240);
}

