header {
    background-image: url(https://images.themodernproper.com/billowy-turkey/production/posts/2019/Vegan-Roasted-Sweet-Potato-Salad-5.jpg?w=1200&auto=compress%2Cformat&fit=crop&fp-x=0.5&fp-y=0.5&dm=1599768722&s=15424cd57c44d2f2768653a2326996ce);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 150px 0 150px 0;

}

h1 {
    color: beige;
}

h2 {
    color: beige;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(41, 59, 29);
    background-color: beige;
}

.content {
    margin: auto;
}

div {
    background-color: rgba(112, 139, 85, 70%);
    padding: 10px 10px 10px 10px;
    font-size: 25px;
}
    @media (min-width: 1120px) {
    div { font-size: 25px; }
    }
    @media (max-width: 1120px) {
    div { font-size: 14px;
        padding-right: 25px; 
        padding-left: 25px;}
    }

.imgingredients {
    display: block;
    float: right;
    width: 100%;
    object-fit: scale-down;
    padding: 0;
}   

    @media (min-width: 600px) {
    .imgingredients {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    }   
    @media (min-width: 1120px) {
    .imgingredients { padding: 0; }
    }

.grid li {
    display: block;
    padding: 0;
    width: 50%;
    text-align: center;
    font-size: 25px;
}

ul {
    list-style-type: none;
    display: grid;
    padding: 0;
    grid-template-columns: .4fr 1fr;
    margin-bottom: 0;
    text-align: center;
    align-content: center;
}

li {
    font-size: 25px;
}

.sidebar1 {
    background-color: rgba(112, 139, 85, 70%);
    margin: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 25px;
    line-height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

    @media (min-width: 600px) {
    .sidebar1 { font-size: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    }   
    @media (min-width: 1120px) {
    .sidebar1 { font-size: 25px;
    line-height: 2rem; }
    }
    

.sidebar2 {
    background-color: rgba(112, 139, 85, 70%);
    margin: 40px;
    margin-top: 0;
    padding: 60px 25px 60px 25px;
    font-size: 30px;
    line-height: 4rem;
}

.sidebar2 h3 {
    line-height: 0;
}

.sidebar2 h5 {
    line-height: 2rem;
    overflow-wrap: break-word;
}

.ingredients {
    background-color: rgba(112, 139, 85, 70%);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: center;
}

    @media (min-width: 600px) {
    .ingredients { font-size: 12px;}
    } 
    @media (min-width: 1120px) {
        .ingredients{ font-size: 20px;}
        }

.SP {
    width: 400px;
    display: block;
    margin: 0;
    object-fit: scale-down;
}

.dressing {
    width: 400px;
    display: block;
    margin: 0;
    object-fit: scale-down;
}

.stepsimg {
    display: grid;
    justify-content: center;
}

.stepsimg li {
    padding: 15px;
}

ol {
    margin: 2rem;
    line-height: 3.5rem;
}

    @media (min-width: 600px) {
    ol { font-size: 10px;
    margin: 3.5rem;
    line-height: 5rem; }
    }   
    @media (min-width: 1120px) {
    ol { font-size: 18px;
    line-height: 3.5rem; }
    }

.recipesteps {
    color: rgb(41, 59, 29);
    margin: 2rem;
}


  